# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. python
2. sql
3. r

Some of the commonly used libraries used by Data Scientists include:
1. ggplot in r
2. pandas
3. numpy
4. scikit learn

|Data Science Tools|
|-------------------|
|jupyter notebook|
|r studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
a=10
b=12
print(a+b)

22

In [2]:
#This a simple arithmetic expression to mutiply then add integer
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

**objectives:**
- List popular languages for Data Science.

## author name prasanna